<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".thm" mimeType="application/json"/>
      <mimeMap fileExtension=".fnt" mimeType="application/json"/>
      <mimeMap fileExtension=".exml" mimeType="text/xml"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>